<%- include('includes/head.ejs', {pageTitle: "An Error Occurred!"}) %>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>Something went wrong!</h1>
    <p>Unfortunately, something went wrong - please try again later.</p>
    <p><a href="/" class="btn">Back To Safety!</a></p>
    
    <%- include('includes/footer.ejs') %>
  </main>
</body>
