<%- include('../../shared/includes/head.ejs', {pageTitle: "Meeseeks | Signup"}) %>
  <link rel="stylesheet" href="/styles/forms.css">
  <link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
  <%- include('../../shared/includes/header.ejs') %>
  <main>
    <h1>Create New Account</h1>
    <form action="/signup" method="POST">
      <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
      <p>
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="something@anything.com"
          required
        />
      </p>
      <p>
        <label for="confirm-email">Confirm Email</label>
        <input
          type="email"
          name="confirm-email"
          id="confirm-email"
          placeholder="something@anything.com"
          required
        />
      </p>
      <p>
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="********"
          required
        />
      </p>
      <hr />
      <p>
        <label for="fullname">Full Name</label>
        <input
          type="text"
          name="fullname"
          id="fullname"
          placeholder="something@anything.com"
          required
        />
      </p>
      <p>
        <label for="street">Street</label>
        <input type="text" name="street" id="street" placeholder="Madani Ave" required/>
      </p>
      <p>
        <label for="postal">Postal Code</label>
        <input type="text" minlength="4" maxlength="4" name="postal" id="postal" placeholder="1212" required/>
      </p>
      <p>
        <label for="city">City</label>
        <input type="text" name="city" id="city" placeholder="Dhaka" required/>
      </p>
      <button class="btn">Create Account</button>
      <p id="switch-form"><a href="/login">Already have a account? - login instead</a></p>
    </form>
    <%- include('../../shared/includes/footer.ejs') %>
  </main>
</body>
